*, *::before, *::after {
	box-sizing: border-box;
	font-family: "Myriad-Pro", sans-serif;
	font-weight: normal;
}

body {
	padding: 0;
	margin: 0;

}

.calculator-grid {
	display: grid;

	/* Centers calculator grid */
	justify-content: center;
	align-items: content;
	min-height: 100vh;

	/* Setting up grid */
	grid-template-columns: repeat(4,100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);

}

/* To properly position buttons, you have to select them */
.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
}

.calculator-grid > button:hover {
	background-color: rgba(255,255,255,.9);
	}

/* targets elements with span-two class, will make them span 2 grid spaces */
.span-two {
	grid-column: span 2;

}

.display {
	/* the display will now span from column 1 to -1, or all columns */
	grid-column: 1 / -1;
}